<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Todo Lists</title>
		<style>
			.done {
				text-decoration: line-through;
			}
		</style>
</head>
<body>
	<div id="app">
		<h3>Todo Lists</h3>
		<form>
			<label for="newTodo">New Todo</label>
			<input v-model="newTodo" type="text" id="newTodo" name="newTodo">
			<button @click="addTodo" type="button" name="button">Add</button>
		</form>
		<button @click="allDone" type="button" name="button">All Done</button>
		<button @click="allDelete" type="button" name="button">All Delete</button>
		<ul v-for="item in todoList">
			<li>
				<input type="checkbox" v-model="item.done">
				<span :class="{ done: item.done }">{{ item.title }}</span>
				<button @click="deleteTodo(item)" type="button" name="button">Delete</button>
			</li>
		</ul>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
	<script src="./app.js"></script>
</body>
</html>